*.hi
*.o
*~
/src/dist/
/src/Inter/Trial
/src/Local.hs
/src/Util/Datei/Base.hs
/src/Control/Mysqlconnect.hs
/common
/collection/dist/*
/db/dist/
/interface/dist/
/server-implementation/dist/
/server-interface/dist/