module Default where

server :: String
server = -- "http://autolat.imn.htwk-leipzig.de/cgi-bin/autotool-0.4.2.cgi"
  "http://kernkraft.imn.htwk-leipzig.de/cgi-bin/autotool-latest.cgi"

super_cgi_name :: String
super_cgi_name = "Super.cgi"

trial_cgi_name :: String
trial_cgi_name = "Trial.cgi"

